shamefully-hoist=true
node-linker=hoisted
onlyBuiltDependencies[]=@embedded-postgres/windows-x64
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
